.moderationStagesExhibitor {
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0.25em 1em;
    font-size: 0.85rem;
    line-height: 1.5em;
    display: inline-block;
}

.listPanel__itemModerationStage,
.listPanel__itemTimeSubmitted {
    color: #00b28d;
}

.listPanel__itemAreaModerators,
.listPanel__itemTimeAreaModerator,
.listPanel__itemResponsibles,
.listPanel__itemTimeResponsible {
    color: #006798;
}

.exhibitorsSeparator {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    width: 95%;
    border-top: 1px solid #ccc;
    border-bottom: 0px;
}

.pdfViewExhibitor {
    margin: 1em;
}

.itemTimeRed {
    color: #d00a6c !important;
    font-weight: 700;
}