.listPanel__itemModerationStage:not(.withoutDataYet),
.listPanel__itemTimeSubmitted:not(.withoutDataYet) {
    color: #00b28d;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0.25em 1em;
    font-size: 0.85rem;
    line-height: 1.5em;
    display: inline-block;
}

.listPanel__itemAreaModerators:not(.withoutDataYet),
.listPanel__itemTimeAreaModerator:not(.withoutDataYet),
.listPanel__itemResponsibles:not(.withoutDataYet),
.listPanel__itemTimeResponsible:not(.withoutDataYet) {
    color: #006798;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0.25em 1em;
    font-size: 0.85rem;
    line-height: 1.5em;
    display: inline-block;
}

.exhibitorsSeparator {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    width: 95%;
    border-top: 1px solid #ccc;
    border-bottom: 0px;
}

.itemTimeRed {
    color: #d00a6c !important;
    font-weight: 700;
}